* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.screen {
    display: flex;
    height: 100vh;
}

.leftside {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

}

.leftside img {
    max-width: 500px;
    height: auto;
}

.rightside {
    width: 400px;
    background-color: #DDD;
    padding: 50px;
}

.rightside label {
    display: block;
    margin-bottom: 20px;
}

.rightside input {
    width: 100%;
    border: 1px solid #999;
    border-radius: 5px;
    padding: 8px;
    font-size: 14px;
    outline: 0;
}

.error {
    font-size: 11px;
    background-color: #FF0000;
    color: #FFF;
    padding: 4px;
}

.submit:hover {
    background-color: #3e8e41
}

.submit:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.submit {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #04AA6D;
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px #999;
}

.b2{
    padding: 5px 20px;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #04AA6D;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px #999;
    margin-left:10px;
}

.b2:hover {
    background-color: #3e8e41
}

.b2:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}